.container{
    width: 1280px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.damier{
    border:1px solid black;
    border-collapse: collapse;
}

.color1{
    background-color:grey;
}
.color2{
    background-color:white;
}

.tile{
    padding:35px;
    margin:0;
}